<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web-crawler</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/home.css}"/>
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script type="text/javascript">
        let contextPath = /*[[@{/}]]*/ '';
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row my-4">
        <div class="col"></div>
        <div class="col">
            <h1 class="text-light">Web-crawler</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-6 border-right">
            <div class="row bg-light">
                <div class="col mt-2">
                    <label for="inputSeed">Seed</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="inputSeed" placeholder="Enter URL here">
                    </div>
                </div>
            </div>
            <div class="row bg-light">
                <div class="col">
                        <div class="mb-3">Terms</div>
                        <button id="addTermButton" type="button" class="btn btn-info rounded mb-2">+</button>
                        <table class="table table-borderless">
                            <tbody>
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="row bg-light">
                <div class="col">
                    <button id="crawlButton" type="button" class="btn btn-info rounded mb-2">Crawl</button>
                </div>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-4 bg-light">
            <div class="row my-2">
                <div class="col">
                    <label for="output">Output</label>
                    <div class="input-group">
                        <textarea rows="10" readonly style="resize: none" id="output" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="querySelect">Queries</label>
                        <select class="form-control" id="querySelect">
                            <option>-</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button id="downloadAllStatReport" type="button" class="btn btn-info rounded mb-2">All Report&nbsp;
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="col">
                    <button id="downloadTopTenStatReport" type="button" class="btn btn-info rounded mb-2">Top Ten Report&nbsp;
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-bar-graph" viewBox="0 0 16 16">
                                <path d="M10 13.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v6zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"/>
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</div>
</body>
</html>
